<div class="main">
    <app-who-im [user]="user"></app-who-im>

    <div class="chat">
        <div class="rooms-menu">
            <div *ngIf="!showNewRoomMenu" class="rooms">
                <div
                    class="room" 
                    *ngFor="let chatRoom of chatRooms | keyvalue" 
                    (click)="setCurrentChatRoom(chatRoom.value.chat_room_id)" 
                    [class.active]="chatRoom.value.chat_room_id === currentChatRoom"
                >

                    <div class="info">
                        <div 
                            class="members" 
                            *ngFor="let member of chatRoom.value.members | userFilter: user.user_id| keyvalue"
                        >
                            <app-member [member]="member.value"></app-member>
                        </div>
                    </div>

                    <div *ngIf="chatRoom.value.last_message.text" class="last-message">
                        <div class="message">
                            <div class="text">
                                {{chatRoom.value.last_message.text}}
                            </div>
                            <div class="date">{{chatRoom.value.last_message.date}}</div>
                        </div>
                    </div>
    
                </div>
            </div>

            <div *ngIf="showNewRoomMenu" class="new-room-menu">
                <div class="new-group-menu" *ngIf="isSelectUser">
                    <input class="input-group-name"  type="text">
                    <div 
                        class="button create-new-group"
                        (click)="createGroup()"
                    ></div>
                </div>
                <div *ngFor="let usr of users | keyvalue">
                    <app-user 
                        (selectedUser)="createChatRoom($event)"  
                        [user]="{
                            user_id: usr.value.user_id,
                            user_name: usr.value.user_name,
                            is_online: usr.value.is_online
                        }"
                        [currentUserId]="user.user_id"
                        [showCheckbox]="isSelectUser"
                        (selectedToCreateGroup)="addUserToGroup($event)"
                    ></app-user>
                </div>
            </div>

            <div class="buttons">
                <div *ngIf="!showNewRoomMenu; else newRoomsMenuButtons" class="button add" (click)="getAllUsers()"></div>
                <ng-template #newRoomsMenuButtons>
                    <div class="button back-to-menu" (click)="showNewRoomMenu = !showNewRoomMenu"></div>

                    <div 
                        class="button create-group"
                        *ngIf="!isSelectUser; else selectUserButton" 
                        (click)="isSelectUser = !isSelectUser"
                    >
                        Create group
                    </div>

                    <ng-template #selectUserButton>
                        <div 
                            class="button select-user"
                            (click)="isSelectUser = !isSelectUser"
                        >
                            Select user
                        </div>
                    </ng-template>
                </ng-template>
                
            </div>
            
        </div>
        
    
        <div class="messages" *ngIf="isId(currentChatRoom!)">
            <!-- <div class="messages-list" #messagesEl [scrollTop]="messagesEl.scrollHeight">  -->
            <div *ngIf="currentChatRoom" class="messages-list" #messagesEl> 
                <div 
                    class="message"
                    *ngFor="
                        let message of chatRooms[currentChatRoom].messages | keyvalue;
                        let last = last; 
                        let idx = index;
                        trackBy:identify
                    "
                    [class.right]="message.value.user_id === user.user_id" 
                    [class.edit]="message.value.message_id === currentMessage.message_id" 
                >
                    <div class="text">{{message.value.text}}</div>
                    <div class="date">
                        <div class="text">
                            <span 
                                class="has-been-changed" 
                                *ngIf="message.value.wasChanged"
                            >
                                changed
                            </span>
                            {{message.value.date}}
                        </div>
                    </div>
                    <div 
                        (click)="editMessage(
                            user.user_id, 
                            message.value.message_id!,
                            message.value.text,
                            message.value.date
                        )" 
                        *ngIf="message.value.user_id === user.user_id" class="not-available"
                    >
                    </div>
                    {{last ? scrollToBottom(messagesEl, message.value.user_id === user.user_id, message.value.message_id!) : ''}}
                </div>
            </div>

            <div class="entry-field">
                <input 
                    [(ngModel)]="messageText" 
                    (input)="inputEvent()" 
                    (keyup.enter)="sendMessage()" class="message-input"
                />
                <div class="buttons">
                    <div (click)="resetMessageValue();" *ngIf="isId(currentMessage.message_id!)" class="button cancel"></div>
                    <div (click)="sendMessage()" *ngIf="messageText && (messageText !== currentMessage.text)" class="button send"></div>
                </div>
            </div>   
            
        </div>
    </div>

</div>