<div class="main">
    <app-who-im [user]="user"></app-who-im>

    <div class="chat">
        <div class="rooms-menu">

            <div *ngIf="!showNewRoomMenu" class="rooms">
                <app-room
                    class="room" 
                    *ngFor="let chatRoom of chatRooms | keyvalue" 
                    (click)="setCurrentChatRoom(chatRoom.value.chat_room_id)" 
                    [class.active]="chatRoom.value.chat_room_id === currentChatRoom"
                    [user]="user"
                    [chatRoom]="chatRoom.value"
                ></app-room>
            </div>

            <div *ngIf="showNewRoomMenu" class="new-room-menu">
                <div class="new-group-menu" *ngIf="isSelectUser">
                    <input 
                        #inputEl
                        class="input-group-name" 
                        [disabled]="!usersGroupSize"  
                        [(ngModel)]="groupName"  
                        type="text"
                        [placeholder]="!usersGroupSize ? 'Select users' : changePlaceholder(inputEl)"
                        [autofocus]="usersGroupSize"
                        (keyup.enter)="createGroup()"
                    >
                    <div 
                        *ngIf="groupName && usersGroupSize"
                        class="button create-new-group"
                        (click)="createGroup()"
                    ></div>
                </div>

                <div *ngFor="let usr of users | userFilter: user.user_id | keyvalue">
                    <app-user 
                        (selectedUser)="createChatRoom($event)"  
                        [user]="usr.value"
                        [currentUserId]="user.user_id"
                        [showCheckbox]="isSelectUser"
                        (selectedToCreateGroup)="addUserToGroup($event)"
                    ></app-user>
                </div>
            </div>

            <div class="buttons">
                <div 
                    class="button add"
                    *ngIf="!showNewRoomMenu; else newRoomsMenuButtons"  
                    (click)="getAllUsers()"
                ></div>
                <ng-template #newRoomsMenuButtons>
                    <div 
                        class="button back-to-menu" 
                        (click)="backToMenu()"
                    ></div>

                    <div 
                        class="button create-group"
                        *ngIf="!isSelectUser; else selectUserButton" 
                        (click)="isSelectUser = !isSelectUser"
                    >
                        Create group
                    </div>

                    <ng-template #selectUserButton>
                        <div 
                            class="button select-user"
                            (click)="isSelectUser = !isSelectUser"
                        >
                            Select user
                        </div>
                    </ng-template>
                </ng-template>
            </div>
            
        </div>
        
    
        <div class="messages" *ngIf="isId(currentChatRoom!)">

            <div *ngIf="currentChatRoom" class="messages-list" #messagesEl> 
                <app-message
                    class="message"
                    *ngFor="
                        let message of chatRooms[currentChatRoom].messages | keyvalue;
                        let last = last; 
                        let idx = index;
                        trackBy:identify
                    "
                    [class.right]="message.value.user_id === user.user_id" 
                    [class.edit]="message.value.message_id === currentMessage.message_id" 

                    [showName]="!!chatRooms[currentChatRoom].name"
                    [authorName]="chatRooms[currentChatRoom].members[message.value.user_id!].user_name"
                    [message]="message.value"
                    [user]="user"
                    [currentChatRoom]="currentChatRoom"
                    [currentMessage]="currentMessage"
                    [messageText]="messageText"
                    [wrapperElement]="messagesEl"
                    [isLast]="last"
                    (setLastSendendMessageId)="setLastSendendMessageId($event, messagesEl)"
                    (changeMessage)="changeMessage($event)"
                >
                </app-message>
            </div>

            <div class="entry-field">
                <input 
                    [(ngModel)]="messageText" 
                    (input)="inputEvent()" 
                    (keyup.enter)="sendMessage()" class="message-input"
                />
                <div class="buttons">
                    <div (click)="resetMessageValue();" *ngIf="isId(currentMessage.message_id!)" class="button cancel"></div>
                    <div (click)="sendMessage()" *ngIf="messageText && (messageText !== currentMessage.text)" class="button send"></div>
                </div>
            </div>   
            
        </div>
    </div>
</div>