<div class="info">
  <div *ngIf="!!chatRoom.name" class="group-name">
    {{ chatRoom.name }}

    <div 
      class="counter" 
      [class.display-on]="getUnreadMsCounter()"
      [class.active]="active" 
    >
      {{ getUnreadMsCounter() }}
    </div>
  </div>
  <div
    class="members"
    *ngFor="let member of chatRoom.members | userFilter: user.id | keyvalue"
  >
    <app-member
      [member]="member.value"
      [active]="active"
      [hideUnreadMsCounter]="!!chatRoom.name"
      [unreadMsCounter]="getUnreadMsCounter()"
    ></app-member>
  </div>
</div>

<div *ngIf="chatRoom.last_message.text" class="last-message">
  <div class="message">
    <div class="text">
      {{ chatRoom.last_message.text }}
    </div>
    <div class="date">
      {{ chatRoom.last_message.date | date: "dd.MM.yyyy" }}
    </div>
  </div>
</div>
