<div class="info">
  <div *ngIf="!!chatRoom.name" class="group-name">
    {{ chatRoom.name }}
    <div class="counter" [class.active]="active" *ngIf="getNumberUnreadMsgs()">
      {{ getNumberUnreadMsgs() }}
    </div>
  </div>
  <div
    class="members"
    *ngFor="let member of chatRoom.members | userFilter: user.id | keyvalue"
  >
    <app-member
      [member]="member.value"
      [lastReadMessageId]="getNumberUnreadMsgs()"
      [active]="active"
      [hideUnreadMsCounter]="!!chatRoom.name"
    ></app-member>
  </div>
</div>

<div *ngIf="chatRoom.last_message.text" class="last-message">
  <div class="message">
    <div class="text">
      {{ chatRoom.last_message.text }}
    </div>
    <div class="date">
      {{ chatRoom.last_message.date | date: "dd.MM.yyyy" }}
    </div>
  </div>
</div>
